@page 
@inject HttpClient Http

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style="width: 18rem;">
  <img src="../Files/6c91854b-a5bb-4085-8840-12e557f32b1e.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">小卡片</h5>
    <p class="card-text">有趣的搜索</p>
    <a href="www.bing.com" class="btn btn-primary">去一些地方</a>
  </div>
</div>