@page
@model TextSearchEngine.Pages.Account.SignedOutModel
@{
    ViewData["Title"] = "已注销";
}
<h1>@ViewData["Title"]</h1>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">你已经成功注销！</h4> 
  <hr> 
</div> 