@page
@model TextSearchEngine.Pages.Essays.AboutModel
@{
}


<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">文本检索引擎</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        欢迎使用，文本搜索引擎.
    </div>
</div>
<br />
<form>
    <div class="mb-3">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Account/login">登陆</a>
            </div>
        </nav>
    </div>
    <br />
    <div style="align-self:auto">
        <h2>一个检索</h2>
        <p>
            <label>
                为了方便日常的问题记录存放在自己电脑，这样在离线状态下也可以查询到历史的问题，找到对应的解决方案。
            </label>
        </p>
        <br />
        <p>
            <h3>项目的一个开源的检索库</h3>
        </p>
        <p>基于EntityFrameworkCore和Lucene.NET实现的全文检索搜索引擎</p>
        <a href="https://github.com/ldqk/Masuit.LuceneEFCore.SearchEngine">文档</a>
        <br/>
        <h3>项目异常记录器</h3>
        <p>
            WatchDog是用于 ASP.Net 核心Web应用程序和API的实时消息，事件，HTTP（请求和响应）和异常记录器和查看器。
            它允许开发人员实时记录和查看对其 Web 应用程序发出的消息、事件、http 请求以及运行时在其 Web 应用程序中捕获的异常。 
            它利用实时监控和类似MongoDB的无服务器数据库，无需配置，可以选择使用外部数据库（MSSQL，MySQl，Postgres，MongoDB）。 
        </p>
        <a href="https://github.com/IzyPro/WatchDog">文档</a>
    </div>

</form>